<!--Slot Management
Dashboard
Parking
User and Role Management
Reservations
Vehicle Logs
Financial Management
Analytics & Insights
System Controls
Settings
Support Tools
Advanced Features
Miscellaneous-->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
/>

<div class="dashboard">
  <header class="header">
    <div class="header__container">
      
      <img
        src="https://lh3.googleusercontent.com/a/ACg8ocKFhuHxapDGqvaCp-8OuNupx6pxfKDiBzaZ10sOdgJwCgZb8_dY=s576-c-no"
        alt=""
        class="header__img"
      />

      <a href="#" class="header__logo">ParkingDashBoard</a>

      <div class="header__search">
        <input type="search" placeholder="Search" class="header__input" />
        <i class="bx bx-search header__icon"></i>
      </div>

      <div class="header__toggle">
        <i class="bx bx-menu" id="header-toggle"></i>
      </div>
    </div>
  </header>

  <div class="nav" id="navbar">
    <nav class="nav__container">
      <div>
        <a href="#" class="nav__link nav__logo">
          <i class="bx bxs-parking nav__icon" style='color: #0bde8a;'></i>
          <span class="nav__logo-name">ParkingSpot</span>
        </a>

        <div class="nav__list">
          <div class="nav__items">
           

            <a  class="nav__link active" [routerLink]="['dashboard']">
                <i class='bx bxs-dashboard nav__icon'></i> 
              <span class="nav__name">Dashboard</span>
            </a>
            <h3 class="nav__subtitle">Parking</h3>

            <a href="#" class="nav__link" [routerLink]="['parking']">
                <i class="bx bxs-parking nav__icon"></i>
                <span class="nav__name">Parking</span>
              </a>


              <h3 class="nav__subtitle">Users</h3>

            <div class="nav__dropdown">
              <a href="#" class="nav__link">
                <i class="bx bx-user nav__icon"></i>
                <span class="nav__name">Profile</span>
                <i class="bx bx-chevron-down nav__icon nav__dropdown-icon"></i>
              </a>

              <div class="nav__dropdown-collapse">
                <div class="nav__dropdown-content">
                  <a class="nav__dropdown-item" [routerLink]="['spotowners']">Users</a>
                  <a  class="nav__dropdown-item">Subscribers</a>
               
                </div>
              </div>
            </div>

           
          </div>
          <h3 class="nav__subtitle">Transactions</h3>
          <a href="#" class="nav__link">
            <i class="bx bxs-bank bx-flip-horizontal nav__icon"></i>
            <span class="nav__name">Payment Gateways</span>
          </a>
          <a href="#" class="nav__link">
            <i class="bx bx-wallet bx-flip-horizontal nav__icon"></i>
            <span class="nav__name">Withdrawals</span>
          </a>
        


          <div class="nav__items">
            <h3 class="nav__subtitle">Menu</h3>

            <div class="nav__dropdown">
              <a href="#" class="nav__link">
                <i class="bx bx-bell nav__icon"></i>
                <span class="nav__name">Notifications</span>
                <i class="bx bx-chevron-down nav__icon nav__dropdown-icon"></i>
              </a>

              <div class="nav__dropdown-collapse">
                <div class="nav__dropdown-content">
                  <a href="#" class="nav__dropdown-item">Blocked</a>
                  <a href="#" class="nav__dropdown-item">Silenced</a>
                  <a href="#" class="nav__dropdown-item">Publish</a>
                  <a href="#" class="nav__dropdown-item">Program</a>
                </div>
              </div>
            </div>
            <a href="#" class="nav__link">
              <i class="bx bx-compass nav__icon"></i>
              <span class="nav__name">Explore</span>
            </a>
            <a href="#" class="nav__link">
              <i class="bx bx-bookmark nav__icon"></i>
              <span class="nav__name">Saved</span>
            </a>
            <h3 class="nav__subtitle">Settings</h3>
            <a href="#" class="nav__link">
              <i class="bx bx bx-globe bx-flip-horizontal nav__icon"></i>
              <span class="nav__name">Global Settings</span>
            </a>
            <a href="#" class="nav__link">
              <i class="bx bx-speaker bx-flip-horizontal nav__icon"></i>
              <span class="nav__name">Languages</span>
            </a>
            <a href="#" class="nav__link">
              <i class="bx bx-bell bx-flip-horizontal nav__icon"></i>
              <span class="nav__name">Email Notifications</span>
            </a>
            <a href="#" class="nav__link">
              <i class="bx bx-plug bx-flip-horizontal nav__icon"></i>
              <span class="nav__name">Plugins</span>
            </a>
          </div>
        </div>
      </div>

     
      
      <a href="#" class="nav__link nav__logout">
        <i class="bx bx-log-out nav__icon"></i>
        <span class="nav__name">Log Out</span>
      </a>
    </nav>


  </div> 

  <router-outlet></router-outlet>

 
  
  <!--<router-outlet></router-outlet>-->

 <!--<div style="background-color: blue;"> hellossssw</div>-->

 <!--<app-parkingspotowners></app-parkingspotowners>-->



 
      
   
       
   
   
   
    


   
 


    


 
</div>
    



