<div class=" pt-3 pb-3 " style="background-color: white; padding-left: 80px; width: 100%;">
  <div class="d-flex justify-content-between">
    <div>Manage ParkingSpot Users</div>
    <div class="search-container d-flex align-items-center mx-4">
        <input type="text" class="form-control" id="name" placeholder="Search">
        <i class="bx bx-search ms-2"></i>
      </div>
  </div>
</div>
<br>

<main>
    <section >
      <div class=" ">
        <div class="col-md-12">
            
            <ul class="nav " >
                <li class="nav-item showcursor" >
                  <a class="nav-link  " aria-current="page" [ngClass]="activeUserInformation == 'active' ?  'navColorActive' : 'navColorInactive'" (click)="showBanned('active')">Active</a>
                </li>
                <li class="nav-item showcursor">
                  <a class="nav-link"   (click)="showBanned('banned')" [ngClass]="activeUserInformation == 'banned' ?  'navColorActive' : 'navColorInactive'">Banned</a>
                </li>
              
                <li class="nav-item showcursor">
                  <a class="nav-link " style="color:grey;">Email Unverified</a>
                </li>
                <li class="nav-item showcursor">
                  <a class="nav-link"  style="color:grey;">With Balance</a>
                </li>
                <li class="nav-item showcursor">
                  <a class="nav-link "  style="color:grey;">All Users</a>
                </li> 
                <li class="nav-item showcursor">
                  <a class="nav-link " style="color:grey;" >Subscribers</a>
                </li>
                <li class="nav-item showcursor">
                  <a class="nav-link " style="color:grey;">Notification to Users</a>
                </li>
              </ul>
            
        </div>
    
        <div class="row">
            <div class="col-md-12"  *ngIf="activeUserInformation == 'active'">
                <app-activeusers></app-activeusers>
            </div>
            <div class="col-md-12"  *ngIf="activeUserInformation == 'banned'">
                <app-bannedusers></app-bannedusers>
            </div>
        </div>
    
       
            
        
    
       
    
        
        
       
    </div>
    </section>
</main>


