/* You can add global styles to this file, and also import other style files */



main {
    margin-left: var(--nav-width); 
    transition: margin-left 0.4s; 
    margin-right: 16px;
    padding: 20px;
    flex-grow: 1; 
  }


  @media screen and (max-width: 759px) {
    main {
      margin-left: 0; /* Remove margin when nav is hidden */
    }
}


